@mixin header-link {
    // font-size: 24px;
    text-decoration: none;
    color: $primary-color;
    margin-left: 20px;

        &:hover {
            text-decoration: underline;
        }
        
    @media screen and (max-width: map-get($breakpoints, mobile )) {
        text-transform: uppercase;
        // font-size: 12px;
    }
}

@mixin banner {
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    // width: 100%;
    // border-radius: 20px;
    margin: 0 $marginDespock;

    @media screen and (min-width: map-get($breakpoints, mobile )) and (max-width: map-get($breakpoints, tablette)) {
        margin: 0 $marginTablette;
    }

    @media screen and (max-width: map-get($breakpoints, mobile )) {
        margin: 0 $marginMobile;
    }
}

@mixin arrows {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

@mixin arrowsSize {
    width: 46.68px;
    height: 79.2px;

        @media screen and (max-width: map-get($breakpoints, mobile )) {
            width: 11.67px;
            height: 19.8px;
        }
}