.aPropos {
    @include banner;

    &__dropdown {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 80px;
        width: 80%;
    }
}

.mountain {
    background: url("../../assets/Mountain.svg") no-repeat;
}