.aPropos {
    @include banner;

    &__dropdown {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 80px;
        width: 80%;

        @media screen and (min-width: map-get($breakpoints, mobile )) and (max-width: map-get($breakpoints, tablette)) {
            width: 90%;
        }

        @media screen and (max-width: map-get($breakpoints, mobile )) {
            width: 100%;
        }
    }
}

.mountain {
    background: url("../../assets/Mountain.png") no-repeat;
    width: 100%;
    border-radius: 25px;
    background-size: cover;
}