.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 223px;

    @media screen and (min-width: map-get($breakpoints, mobile )) and (max-width: map-get($breakpoints, tablette)) {
        height: 180px;
    }

    @media screen and (max-width: map-get($breakpoints, mobile )) {
        height: 111px;
    }

    &__slogan {
        color: $footer-text;
        font-size: 48px;
        font-weight: normal;

        @media screen and (min-width: map-get($breakpoints, mobile )) and (max-width: map-get($breakpoints, tablette)) {
            font-size: 36px;
        }

        @media screen and (max-width: map-get($breakpoints, mobile )) {
            font-size: 24px;
        }
    }
}