.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 225px;
    width: 1242px;
    // border-radius: 20px;

    // @media screen and (max-width: map-get($breakpoints, mobile )) {
    //     width: 550px;
    // }

    &__slogan {
        color: $footer-text;

        @media screen and (max-width: map-get($breakpoints, mobile )) {
            font-size: 24px;
        }
    }
}