.cardBody {
   display: flex; 
   justify-content: center;
   background-color: $card-background;
   border-radius: 20px;
   flex-wrap: wrap;
   margin-top: 50px;
}

.container {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    max-width: 340px;
    max-height: 340px;
    margin: 28px 25px;
    background-color: $primary-color;


    &__card {
        padding: 56px 50px;
        max-width: 340px;
        max-height: 340px;
        // background-color: purple;
        border-radius: 20px;
        display: flex;
        flex-wrap: wrap;

        &__img {
            max-width: 340px;
            max-height: 340px;
            border-radius: 20px;
        }

        &__title {
            color: red;
        }
    }
}