.cardBody {
   display: flex; 
   justify-content: center;
   background-color: $card-background;
   border-radius: 20px;
   flex-wrap: wrap;
   margin: 50px 0;

   @media screen and (max-width: map-get($breakpoints, mobile ))
        { margin: 50px 0;
        }
}

.container {
    // border-radius: 20px;
    display: flex;
    // justify-content: center;
    // max-width: 340px;
    // max-height: 340px;
    margin: 28px 25px;
    // background-color: $primary-color;

    &__card {
        // padding: 56px 50px;
        // max-width: 340px;
        // max-height: 340px;
        border-radius: 20px;
        // display: flex;
        // flex-wrap: wrap;
        // width: 100%;
        width: 340px;
        height: 340px;
        position: relative;
        // margin-bottom: 20px;

        @media screen and (min-width: map-get($breakpoints, mobile )) and (max-width: map-get($breakpoints, tablette)) {
            width: 335px;
            height: 255px;
        }
    
        @media screen and (max-width: map-get($breakpoints, mobile )) {
            width: 335px;
            height: 255px;
            border-radius: 10px;
        }

        &__img {
            // max-width: 340px;
            // max-height: 340px;
            // border-radius: 20px;
            width: inherit;
            height: inherit;
            // object-fit: cover;
            border-radius: inherit;
            object-fit: cover;
        }

        &__title {
            position: absolute;
            bottom: 0;
            font-size: 18px;
            font-weight: 500;
            margin: 15px 20px;
            color: $footer-text; 
            // box-sizing: inherit;
        }
    }
}