.dropdown {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    background-color: $card-background;
    border-radius: 5px;
    width: 100%;
    // padding: 0 18px;

    &__button {
        background-color: $primary-color;
        color: $footer-text;
        border: none;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 18px;
        width: 1023px;
        height: 47px;
        font-size: 24px;
        width: inherit;

        @media screen and (max-width: map-get($breakpoints, mobile )) {
            font-size: 13px;
        }
    }
        
    &__content {
        padding: 18px 10px;
        color: $primary-color;
        width: inherit;
        -webkit-hyphens: auto;
        hyphens: auto;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        font-size: 18px;

        @media screen and (max-width: map-get($breakpoints, mobile )) {
            font-size: 12px;
        }
    }

    &__contentLi {
        padding: 0 10px;
        color: $primary-color;
        width: inherit;
        -webkit-hyphens: auto;
        hyphens: auto;
        box-sizing: border-box;
        list-style:none;

        @media screen and (max-width: map-get($breakpoints, mobile )) {
            font-size: 12px;
        }
    }
    
}

.li {
    margin-left: 60px;

    @media screen and (max-width: map-get($breakpoints, mobile )) {
        margin-left: 0;
    }
}