.user {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

        &__host {
            display: flex;
            align-items: center;
            font-size: 18px;
            flex-wrap: wrap;
            width: 100px;
            color: $primary-color;

            @media screen and (max-width: map-get($breakpoints, mobile )) {
                font-size: 12px;
                width: 60px;
            }
        }

        &__picture {
            border-radius: 50%;
            height: 64px;
            width: 64px;

            @media screen and (max-width: map-get($breakpoints, mobile )) {
                width: 32px;
                height: 32px;
            }
        }
}